.Botao {
  background: var(--verde);
  border: 1px solid var(--preto);
  padding: 0.15rem 0.85rem;
  color: var(--cinza);
}

.Botao[tipo="primario"] {
  background: var(--verde);
}

.Botao[tipo="secundario"] {
  background: var(--rosa);
}
